[Desktop Entry]
Name=Delimit
Name[en]=Delimit
Name[en_GB]=Delimit
GenericName=Opinionated Code Editor
Exec=delimit %U
Icon=delimit
Type=Application
Terminal=False
Categories=Development;IDE;
MimeType=text/plain;application/json;application/python;application/javascript;
